* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.content-width {
  margin: 0 auto;
  max-width: $content-width;
  padding: 15px;
}

@media screen and (min-width: 1041px) {
  .content-width {
    padding: 15px 0j
    ;
  }
}