@media screen and (min-width: 1041px) {
  /* top menu shows and desktop view is achieved */
  .toggle-on-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .toggle-on-desktop {
    display: none;
  }

  .first-nav-row {
       -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
    margin: 0 auto;
    max-width: $content-width;
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
    padding: 0 0 20px 0;
  }

  #top-desktop-nav {
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    border-bottom: 1px solid lightgrey;
    list-style: none;
  }
  
  .top-nav-li {
    display: inline;
    vertical-align: middle;
  }

  .top-nav-li + .top-nav-li:before{
    font-size: 14px;
    color: lightgrey;
    content: " | ";
  }

  .search-field {
    width: 140px;
    padding-left: 20px;
    height: 41px;
    border: none;
    border-bottom: 1px solid black;
    background-color: $lightgrey;
    color: grey;
    z-index: 1;
  }

  .search-icon {
    position: absolute;
    right: 4px;
    top: -11px;
    z-index: 2;
    cursor: pointer;
    width: 35px;
    height: 39px;
    background-image: url('assets/icons/iconmonstr-magnifier-6-48.png');
    background-size: 20px;
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border: transparent;
    background-color: $lightgrey;
  }

  .input-li {
    display: inline;
    vertical-align: middle;
    padding-left: 20px;
  }

  .second-nav-row {
    margin: 0 auto;
    max-width: $content-width;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
  }

  #second-desktop-nav {
    border-top: 1px solid $darkblue;
    border-left: 1px transparent;
    border-right: 1px transparent;
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
       -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
      -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    
    li {
      width: calc(975px / 5);
      text-align: center;
      font-weight: 700;
      font-size: 14px;

      a {
        display: block;
        padding: 10px;
      }
    }
  }
  
  .last-li {
    border-right: $darkblue;
  }

  .desk-first-nav {
    background-color: #dfe0e6;

    a {
      color: $darkblue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: black;
      }
    }

    &:hover {
      background-color: $lightgrey;
    }
  }

  .desk-other-nav {
    background-color: $darkblue;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: black;
      }
    }

    &:hover {
      background-color: $lightgrey;
    }
  }

  #desk-first-nav-sub, 
  #desk-second-nav-sub, 
  #desk-third-nav-sub, 
  #desk-fourth-nav-sub, 
  #desk-fifth-nav-sub {
    display: none;
    position: absolute;
    background-color: $lightgrey;
    color: black;
    padding: 20px 25px;
    -webkit-box-shadow: 0 0 10px #414141;
            box-shadow: 0 0 10px #414141;
    width: $content-width;
    margin: 0 auto;
    top: 102px;
    //Center absolute item:
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform:translateX(-50%);

    p {
      font-size: 14px;
      font-weight: 700;
      margin: 0 0 20px 0;
      padding: 0 0 10px 0;
      border-bottom: 1px solid black;
    }
  }

  .hover-sub-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
       -ms-flex-pack: left;
     justify-content: left;
       -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
        
    li {
      padding: 10px 0;
      width: 310px;

      a {
        display: block;
      }
    }
  }

  .fifth-sub-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: left;
       -ms-flex-pack: left;
     justify-content: left;
     //FLEX-DIRECTION ROW
        -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    //HEIGHT
    height: 254px;

  }

  .hover-last-sub-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
       -ms-flex-pack: left;
     justify-content: left;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      padding: 10px 0;
      width: 230px;
    }
  }

  #africa, 
  #americas, 
  #asia, 
  #europe {
    display: none;
  }

  .country-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
       -ms-flex-pack: left;
     justify-content: left;
       -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
    align-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      padding: 10px 0;
      min-width: 172px;

      a {
        display: block;
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

}